* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
  }

body {
    background: rgb(157,175,184);
background: linear-gradient(90deg, rgba(157,175,184,1) 0%, rgba(60,92,184,1) 42%);
}

 .columnbox h1 {
    font-weight: bold;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-outline-secondary{
background-color: black;
border-radius: 0px;
border: none;
color: white;
}

.middlecontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header {
    display: flex;
    justify-content: center;
    background: rgb(157,175,184);
    background: linear-gradient(90deg, rgba(157,175,184,1) 0%, rgba(60,92,184,1) 42%);
    font-weight: bold;
    font-size: 200%;
    padding: 10px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: .5px solid black;
    box-shadow: 10px 5px 5px rgb(190, 198, 202);
}

h1 {
color: black;
font-size: 100%;
text-align: center;
opacity: 80%;
border-radius: 7px;
margin-top: 2px;

}

.columnbox {
display: flex;
justify-content: center;
width: 380px;

}
/* .columnboxtwo {
    display: flex;
    
    } */

.current-forecast {
    display: flex;
    font-size: 25px;
}

#date {
    font-size: 15px;
    color: black;
    text-align: center;
}

#current-day {
    text-align: center;
    font-weight: bolder;
    line-height:  40px; 
    opacity: 80%;
    margin-left:10px;
    margin-right: 10px;
}

#current-city {
opacity: 75%;
font-size: 25px;
font-family:  Arial, sans-serif;
font-weight: bolder;

}

#current-day li {
    font-weight: bold;

}


#emoji-icon {
    width: 30px;
    height: 30px;
}

.forecast {
    margin-left: 5px;
    list-style-type: none;
    font-weight: bold;
    margin-bottom: 100px;
    opacity: 80%;
    border-color: black;
    border-radius: 7px;

}

.row {
    display: flex;
    justify-content: center;
}

.columnbox {
    display: flex;
    
}
#msg li {
    list-style-type: none;
    text-align: center;
    width: auto;
    border-color: black;
    border-style: solid 5px;
    border-radius: 7px;
    margin-top: 10px;
}

#clear-history {
background: none;
border: none;
font-size: 15px;
}

footer {

}

img {
    width: 30px;
    height: 30px;
}