* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
  }

body {
    background: rgb(212,239,255);
background: linear-gradient(90deg, rgba(212,239,255,1) 4%, rgba(98,127,210,1) 39%, rgba(99,127,210,1) 60%, rgba(201,200,224,1) 100%);
}

 .columnbox h1 {
    font-weight: bold;
}



.btn-outline-secondary{
background-color: black;
border-radius: 0px 20px 20px 0px;
border: none;
color: white;
}

.middlecontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    background: rgb(157,175,184);
    background: linear-gradient(90deg, rgba(157,175,184,1) 0%, rgba(60,92,184,1) 42%);
    font-weight: bold;
    font-size: 200%;
    padding: 10px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}

h1 {
color: black;
font-size: 100%;
text-align: center;
opacity: 80%;
border-radius: 7px;
margin-top: 2px;

}

header h1 {
    margin-left: 35px;
}

.columnbox {
display: flex;
justify-content: center;
background: linear-gradient(90deg, rgba(157,175,184,1) 0%, rgba(60,92,184,1) 42%);
border-radius: 5px;
}

.current-forecast {
    display: flex;
    font-size: 25px;
}

#date {
    font-size: 15px;
    color: black;
    text-align: center;
}

#current-day {
    text-align: center;
    font-weight: bolder;
    line-height:  40px; 
    opacity: 80%;
    margin-left:10px;
    margin-right: 10px;
}

#current-city {
display: flex;
align-items: center;
padding-left: 20px;
font-size: 20px;
color: white;
height: 40px;
width: 100%;
opacity: 75%;
font-family:  Arial, sans-serif;
background: rgb(10,27,73);
background: linear-gradient(90deg, rgba(10,27,73,1) 9%, rgba(32,49,97,1) 47%, rgba(30,54,128,1) 73%, rgba(5,4,34,1) 100%);
border-radius: 5px  5px 0px 0px;
}

#current-day li {
    font-weight: bold;

}


#emoji-icon {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.forecast {
    margin-left: 5px;
    list-style-type: none;
    font-weight: bold;
    margin-bottom: 100px;
    opacity: 80%;
    border-color: black;
    border-radius: 7px;

}

.row {
    display: flex;
    justify-content: center;
}

.columnbox {
    justify-content: center;
    width: 35%;
    flex-direction: column;
}

#msg li {
    list-style-type: none;
    text-align: center;
    width: auto;
    border-color: black;
    border-style: solid 5px;
    border-radius: 7px;
    margin-top: 10px;
}

#clear-history {
background: none;
border: none;
font-size: 15px;
}

footer {

}



#search-bar {
    opacity: 65%;
    border-radius: 20px 0px 0px 20px;
}

#button {
    opacity: 65%;

}

#temp {
margin-left: 20px;
font-size: 40px; 
color: white;
}

#current-sky {
display: flex;
padding-left: 20px;
color: white;
}



  .main-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

 .five-day {
    display: flex;
    background: rgb(157,175,184);
    background: linear-gradient(90deg, rgba(157,175,184,1) 0%, rgba(60,92,184,1) 42%);
    color: white;
    padding: 0px 10px;
    border-radius: 50px;
 }

 .middle-fiveday {
    display: flex;
 }


  @media screen and (max-width: 760px) {
    .columnbox  {
        justify-content: center;
        width: 80%;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .header {
        display: flex;
        justify-content: center;
        background: rgb(157,175,184);
        background: linear-gradient(90deg, rgba(157,175,184,1) 0%, rgba(60,92,184,1) 42%);
        font-weight: bold;
        font-size: 200%;
        padding: 10px;
        color: white;
        text-align: center;
        margin-bottom: 20px;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
   
    .main-section{
        display: flex;
        justify-content: right;

    }
  }
  